$primary-color: linear-gradient(88.27deg, #574ae8 0%, #3ea1db 100%);
$secondary-color: #f3f5f7;
$white: #fff;
$gray-051: hsla(240, 24%, 10%, 0.051);
$gray-20: hsla(0, 0%, 100%, 0.2);
$gray-60: hsla(0, 0%, 100%, 0.6);
$gray: #717171;
$black: #1a202c;
